.container {
  min-height: 100vh;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0; 
    padding: 6rem; 
}


.container__title {
    margin: 1.5rem  0 1rem 3rem;  
}

.label {
   margin: 3rem  0 1rem 3rem; 
   font-size: .9rem;
   font-weight: 500; 
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #5fc349;
    
}

.form__input1 {
    margin-bottom: 1rem;
}

.form__inputLabel {
    padding-right: 2rem;
}

.form__inputField {
    border: none; 
    border-bottom: solid 1px grey;
    margin-left: 2rem;
    width: 45vw;
    font-size: 2.5rem;
    font-weight: 600;
    color: #5fc349;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .2rem .5rem;
}

.form__inputField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(188, 188, 188);
  font-weight: 600;
  opacity: 1; /* Firefox */
}

.form__inputField:focus {
    outline: none;
}

.form__inputFieldIngredients {
    border: none; 
    border-bottom: solid 1px grey;
    margin-left: 2rem;
    width: 25vw;
    font-size: 1.5rem;
    font-weight: 600;
    color: #5fc349;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .2rem .5rem;
}

.form__inputFieldIngredients::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(188, 188, 188);
  font-weight: 600;
  opacity: 1; /* Firefox */
}

.form__inputFieldIngredients:focus {
    outline: none;
}

.IngredientsButton {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 2rem;
}

.form__select {
    width: 42rem;
    display: flex;
    justify-content: space-evenly;
}

.form__selectItem {
    display: flex;
}

.form__selectField {
    margin-left: 2rem;
    height: 1.5rem;
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px grey;
    padding: 0 1rem;
    
}

.form__selectField:focus {
    outline: none;
}

.form__radioTitle {
    margin: 0rem 3rem;
    
}
.form__radioField {
    display: none;
}

.form__radioFieldContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.form__radioField:checked + .form__radioLabel {
    color: #5fc349;
    
}

.form__radioLabel {   
    margin: 0 2rem;
    font-weight: 600;
    color: black;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.form__DirectionButtonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 42rem;
    margin: 3rem;
}

.form__SubmitButton {
    height: 50px;
    width: 200px;
    color: white;
    
    background: black;
    
    border: none;
    border-radius: 25px;
    margin: 3rem 2rem 1rem;
    cursor: pointer;
}

.form__SubmitButton:hover {
    background: #5fc349;
}

.form__DirectionButton {
    height: 30px;
    width: 80px;
    font-size: 1.4rem;
    color: #03045e;
    border: none;
    border-radius: 25px;
    margin: 1rem 0;
    cursor: pointer;
}

.form__DirectionButton:disabled {
    display: none;
}

.form__textAreaField {
    border: solid 1px grey;
    height: 35vh;
    margin-left: 2rem;
    width: 70vw;
    font-size: 1rem;
    font-weight: 500;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .8rem .8rem;
}

.form__textAreaField:focus {
    outline: none;
}

.form__imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
    
.image__dish {
    margin-bottom: 1rem;
}

.form__submitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}