.footer__container {
  background-color: rgb(216, 216, 216);
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 4rem 0 0 0;
}

.footer__list {
  list-style: none;
}

.footer__listItem {
  margin: 0.5rem;
  font-size: .9rem;
}

.footer__github {
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;
  font-size: .8rem;
}