.container {
  min-height: 1000vh;
  background-image: url('/images/mixedcolors.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 29% 0%;
}

.image__container {
  display: flex;
}

.title {
  margin-left: 2rem;
}

.list {
  top: 0;
  margin: 0;
}