.container {
  min-height: 250vh;
}

.image__container {
  display: flex;
}

.title {
  margin-left: 2rem;
  color: #5fc349;
}

.list {
  top: 0;
  margin: 0;
}

.section__title {
  margin-left: 2rem;
}

.recipe__listitems {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid;
  max-width: 220px;
  border-radius: 4px;
}

.recipe__list {
  display: flex;
}

.recipe__title {
  height: 40px;
}

.recipe__category {
  font-size: 0.8rem;
}

.rec.rec-arrow {
    border-radius: 0;
    color: red;
}
