.recipe__listitems {
  display: flex;

  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid;
  width: 160px;
  border-radius: 4px;
}

.recipe__title {
  height: 30px;
  font-size: .8rem;
  margin-bottom: 20px;
}

.recipe__category {
  font-size: 0.6rem;
}

.recipe__remove {
  display: flex;
  justify-content: flex-end;
}

