.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


.form__labelTitle {
  font-size: 1.1rem;
}

.form__labelInput {
  width: 320px;
  height: 25px;
  border-radius: 0px;
  border: 1px solid black;
  margin-top: .5rem;
}

.form__button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 0px;
  background-color: black;
  color: white;
  margin: auto;
}