@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Monda:wght@400;700&display=swap');

.navbarContainer {
  height: 9vh;
  background: #040018;
  background: black;
  background: linear-gradient(180deg,rgb(4, 0, 24, 1), rgb(7, 0, 48, 0.92));
  
  font-family: 'Monda', sans-serif;
  color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  align-content: center;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.logo { 
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.logoCharacters {
  background: linear-gradient(90deg, rgba(214,162,249,1) 0%, rgba(254,161,161,1) 50%, rgba(250,209,151,1) 100%);
  background-clip: text;
  color: transparent;
  font-family: 'Cabin', sans-serif;
  font-size: 3rem;
  margin: 0;
  
}

.navbarList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarListItem {
  list-style: none;
  margin: .5rem 2rem 0 0;
}