
.navbarContainer {
  height: 100%;
  background: #ffffff;
  font-family: 'Monda', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  top: 0;
  position: sticky;
  z-index: 100;
  padding: 0 15px;
}

.logoSearchContainer {
  width: 95vw;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo { 
  display: flex;
  flex-direction: column;
  padding: O 2rem;
  padding-left: 3rem;
  align-items: flex-start;
}

.logoCharacters {
  font-size: 2.8rem;
  margin: 0; 
}

.logoSubtitle {
  font-size: 0.7rem;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.logoCharacters__begin {
  font-family: 'Roboto', sans-serif;
  font-size: 2.1rem;
}

.searchContainer {
  display: flex;
  justify-content: center; 
}

.searchBar {
  margin-top: 0.2rem;
  width: 26rem;
  height: 2.8rem;
  border-radius: 4px;
  background: rgb(216, 216, 216);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.searchInput {
  border: none;
  border-radius: 25px;
  width: 80%;
  height: 2rem;
  background-color: #fcfcfc;
  padding-left: 1rem;
  z-index: 5;
}

.searchIcon:hover {
  color: white;
  cursor: pointer;
}

.login__profile {
  font-size: .8rem;
  color: navy;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.navbarList {
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarListItem {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  font-size: .8rem;
  font-weight: 600;
  margin: 0 0 0 1rem;
  cursor: pointer;
}


.avatar__container {
  margin-left: 3rem;
}

.avatar {
  border-radius: 50%;
  border: 5px solid black;
}

.avatar:hover {
  cursor: pointer;
}
