
.navbarContainer {
  height: 10vh;
  background: #ffffff;
  font-family: 'Monda', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  top: 0;
  position: sticky;
  box-shadow: rgba(27, 31, 35, 0.04) 4px 4px 4px, rgba(255, 255, 255, 0.25) 4px 4px 4px inset;
  z-index: 100;
}

.logoSearchContainer {
  width: 95vw;
  padding: O 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo { 
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.logoCharacters {
  /*
  background: linear-gradient(90deg, rgba(214,162,249,1) 0%, rgba(254,161,161,1) 50%, rgba(250,209,151,1) 100%);
  background-clip: text;
  color: transparent; */
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5rem;
  margin: 0; 
}

.logoCharacters__begin {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

.searchContainer {
  display: flex;
  justify-content: center; 
}

.searchBar {
  margin-top: 0.2rem;
  width: 26rem;
  height: 2.8rem;
  border-radius: 4px;
  background: rgb(216, 216, 216);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.searchInput {
  border: none;
  border-radius: 25px;
  width: 80%;
  height: 2rem;
  background-color: #fcfcfc;
  padding-left: 1rem;
  z-index: 5;
}

.searchIcon:hover {
  color: white;
  cursor: pointer;
}

.login__profile {
  font-size: .8rem;
  color: navy;
}

.navbarList {
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarListItem {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  font-size: .8rem;
  margin: 0 0 0 1rem;
  cursor: pointer;
}