.avatar {
  border-radius: 50%;
  margin: auto 20px;
  align-self: center;
}

.ProfileImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 2rem;
    width: 350px;
}

.buttonContainer {
  display: flex;
}

.button {
  width: 160px;
  height: 30px;
  border: none;
  border-radius: 0px;
  background-color: black;
  color: white;
  margin: 1rem;
  cursor: pointer;
}