.container {
  min-height: 100vh;
  margin: 2rem;
}



.title {
  color: #5fc349;
  margin-bottom: 2rem
}

.image__container {
  display: flex;
  justify-content: space-evenly;
}

.ingredients__list {
 list-style: none;
 margin: 0;
 padding: 0;
}

.ingredients__listItem {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.ingredients__listItemAmount {
  width: 10%;
  height: 1rem;
  margin: 0 5px 0;
  text-align: end;
}

.ingredients__listItemUnit {
  width: 100px;
  margin: 0;
}

.ingredients__listItemIngredient {
 width: 250px;
 margin: 0;
}

.allergens {
  display: flex;
}

.allergens__item {
  margin-right: .5rem;
}

.method {
  margin-top: 2rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingTitle {
  text-align: center;
}

.comments {
  margin-top: 3rem;
}