.container {
  min-height: 100vh;
}

.title {
  margin-left: 2rem;
  color: #5fc349;
}

.dnd__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.planning__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 300vh;
  width: 45vw;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 1rem auto;
}

.instruction {
	font-size: 0.7rem;
	color: rgb(138, 138, 138);
	margin: 0,2;
  height: 50px;
}

.planning__containerTitle {
  margin: 1rem;
  font-weight: 600;
}

.planning__containerButton {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin: 0;
}

.planning__Button {
    height: 40px;
    width: 160px;
    font-size: .8rem;
    color: white;
    background: black;
    border: none;
    border-radius: 25px;
    margin: 1rem;
    cursor: pointer;
}

.planning__Button:hover {
    background: #5fc349;
}

.recipe__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 45vw;
}
.recipe__listitems {
  display: flex;

  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid;
  max-width: 220px;
  border-radius: 4px;
}

.recipe__title {
  height: 40px;
}

.recipe__category {
  font-size: 0.8rem;
}

.searchBar {
  width: 22rem;
  height: 1.8rem;
  border: none;
  padding: 12px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.searchBar:focus {
  outline: none;
}


.searchBarContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 12px;
  width: 26rem;
  height: 2rem;
  border-radius: 16px;
  border: black 1px solid;
}

.dnd__container {
  display: flex;
  width: 95vw;
  justify-content: center;
}

.shoppingList {
  list-style: none;
}

.shoppingList__check {
  margin-right: 0.5rem;
}

