.container {
  min-height: 100vh;
}

.planning__container {
  height: 40vh;
  width: 80vw;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

.recipe__list {
  display: flex;
  flex-wrap: wrap;
}
.recipe__listitems {
  display: flex;

  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid;
  max-width: 220px;
  border-radius: 4px;
}

.recipe__title {
  height: 40px;
}

.recipe__category {
  font-size: 0.8rem;
}
